/Elementry_Programming/nbproject/private/
/Elementry_Programming/build/
/JavaFxTestProject/nbproject/private/
/JavaFxTestProject/build/
/Lab_05_Draw_Line/nbproject/private/
/Lab_05_Drawing_Line/nbproject/private/
/Lab_05_Drawing_Line/build/
/Assignment_02_CPAN211/nbproject/private/
/Assignment_02_CPAN211/build/
/Collections/nbproject/private/
/Collections/build/
/Lab06/nbproject/private/
/Lab06/build/
/Generics/nbproject/private/
/Generics/build/
/Lab_06/nbproject/private/
/Lab_06/build/
/BinarySearchTrees/nbproject/private/
/LAB_07/nbproject/private/
/LAB_07/build/
/Assignment_04_CPAN211/nbproject/private/
/Assignment_04_CPAN211/build/
/Assignment_04/nbproject/private/
/Assignment_4/nbproject/private/
/Assignment_4/dist/
/Assignment_4/build/
/ConnectingToDatabase/nbproject/private/
/LAB_07_CPAN211/nbproject/private/
/LAB_07_CPAN211/build/
/LAB_08_CPAN_211/nbproject/private/
/LAB_08_CPAN_211/build/
