/Elementry_Programming/nbproject/private/
/Elementry_Programming/build/
/JavaFxTestProject/nbproject/private/
/JavaFxTestProject/build/
/Lab_05_Draw_Line/nbproject/private/
/Lab_05_Drawing_Line/nbproject/private/
/Lab_05_Drawing_Line/build/
